
#grid {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px black;
}

.row {
    display: flex;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
html{
    height: 100%;
}

#gridSize {
    height: 1rem;
}

.size {
    display: flex;
    flex-direction: column;
}

#options {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.size, #clear{
    flex: 1;
}

.sq{
    outline: none;
}


#board{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border: 10px black;
}

.colorOpts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.colButt{
    width: 100px;
    height: 50px;
    border-radius: 5%;
    border: 2px;
}
#custCol{
    opacity: 0%;
    flex: 2;
}
#custColCont, #custCol{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    
}
#custColCont{
    box-shadow: 0 0 3px black;
}